<!DOCTYPE html>
<html>
<head>
	<title>App | Contacts </title>
	{{ style('css/bootstrap.css') }}
	{{ style('fonts/glyphicons-halflings-regular.woff2') }}
	{{ style('css/sticky-footer-navbar.css') }}
	{{ style('css/bootstrap-select.min.css') }}
</head>
<body>

	<div class="container">

		@!component('navbar')

		<div class="row">
			<div class="col-xs-12">
				<h1 class="page-header text-center">Adonis JS Framework</h1>
			</div>	
    
            @!section('content')
		


		</div>
	</div>	

	@!component('footer')

	{{ script('js/jquery.js')	 }}
	{{ script('js/bootstrap.js') }}
	{{ script('js/bootstrap-select.min.js') }}
</body>
</html>
